/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 20, 2021, 5:35:14 PM
    Author     : ASUS
*/


/*.root {
     -fx-background-image: url("https://cloudfour.com/examples/img-currentsrc/images/kitten-large.png");
     -fx-background-color:black;     
}*/

.border{
    -fx-border-color: blue;
    
}
.border-green{
    -fx-border-color: green;    
}

.border-red{
    -fx-border-color: red;
}

.border-black{
    -fx-border-color: black;
}

.cur-point:hover{
    -fx-cursor: hand;
}