#SelectedRepository{
    #SelectedRepoLeft{
        width: 200px;
        flex-shrink: 0;
        // & > .tabItem{
        //     &.active{
                
        //     }
        // }
    }
    #selectedRepoRight{
        width: 100%;
        overflow: auto;
        #branchPanel{
            max-width: 100%;
            overflow: auto;
        }
    }
    
}