#SelectedRepository{
    #SelectedRepoLeft{
        flex-shrink: 0;
        // & > .tabItem{
        //     &.active{
                
        //     }
        // }
    }
    #selectedRepoRight{
        width: 100%;
        overflow: auto;        
        // #commit_property{
        //     width: 25%;
        //     overflow: hidden;
        // }
    }
    
}