
@font-face {
    font-family: 'Consolas';
    src: url('./assets/fonts/consolas/CONSOLA.TTF') format('truetype'),    
}

html {
  font-size: 12.8px;
}

html {
    --font-color: #282828;   
    --hover: #56a696;
    --bg-color:rgb(241, 236, 236);
    --bg-default-button:rgb(192, 193, 201);
    --border-color:rgba(0,0,0,.2);
    --gs-normal: white;
    --gs-primary: blue;
    --gs-secondary: rgb(82, 82, 124);
    --gs-info: rgb(8, 33, 66);
    --gs-warning: rgb(167, 167, 67);
    --gs-danger: red;
    --bg-second-color: rgb(220, 220, 221);
    --bg-third-color: rgb(192, 196, 192);
    --bg-fourth-color: rgb(141, 160, 141);
    --bg-select-color: rgb(192, 193, 201);
    --active-color: #ffff;
    --white: #ffff;
    --search-bg: #ffff;
    --svg-dark: #606060;
    --scrollbar-color: #b7b7b7;
    --svg-lite: #E5E6EB;
    --red-color: #cc401f;
    --switch-bg: #e0e0e0;
    --switch-round: #606060;
    --shadow-2: rgba(0, 0, 0, 0.2);
    --shadow-1: rgba(0, 0, 0, 0.1);
    --dropdown-background: #ffff;
    --colorBlue: #1CD0A8;
    --bg-current-change: #d6e7b1;
    --bg-current-change-deep: #bdd780;
    --bg-previous-change: #FFCCCC;
    --bg-previous-change-deep: #fda0a0;
    --bg-fade:#afadad;
    --bg-change-accepted:#b9d5f6;
  }  
  
  html[data-theme='dark'] {
    --font-color: #e4e6eb;
    --bg-color: #1E1E1E;
    --bg-default-button:#76a198;
    --border-color:rgba(0,0,0,.2);
    --gs-normal: black;
    --gs-primary: rgb(81, 165, 144);
    --gs-secondary: rgb(86, 86, 230);
    --gs-info: rgb(28, 116, 138);
    --gs-warning: rgb(165, 165, 109);
    --gs-danger: rgb(170, 63, 63);
    --bg-second-color: #323233;
    --bg-third-color: #a7a8a7;
    --bg-fourth-color: rgb(126, 117, 156);
    --bg-select-color: rgb(130, 124, 212);
    --active-color: #333333;
    --white: #181818;
    --svg-lite: #E5E6EB;
    --hover: #56a696;        
    --search-bg: #181818;
    --svg-dark: #909090;
    --scrollbar-color: #636363;
    --switch-round: #1CD0A8;
    --red-color: #cc401f;
    --switch-bg: #4c4b4b;    
    --wt-dropdown-background: #232323;
    --colorBlue: #1CD0A8;
    --bg-current-change:#EBF1DD;
    --bg-current-change-deep: #e2f4b8;
    --bg-previous-change: #FFCCCC;
    --bg-previous-change-deep: #fda0a0;
    --bg-fade:#513f3f;
    --bg-change-accepted:#b9d5f6;
  }

  p,span,div,i,h1,h2,h3,h4,h5,h6{
    color: var(--font-color);
    font-family: 'Consolas';
  }

  input[type="text"],textarea,input[type="text"]:focus,textarea:focus{
    background-color: var(--bg-color);
  }

  .form-control, .form-control:focus{
    background-color: var(--bg-color);
  }

  .modal-content{
    background-color: var(--bg-color);
  }

  .font-color{
    color: var(--font-color);
  }
  
  .bg-color{
    background-color: var(--bg-color);
  }

  .bg-second-color{
    background-color: var(--bg-second-color);
  }

  .bg-third-color{
    background-color: var(--bg-third-color);
  }

  .bg-fourth-color{
    background-color: var(--bg-fourth-color);
  }
  .bg-select-color{
    background-color: var(--bg-select-color);
  }

  .selected{
    background-color: var(--bg-select-color);
  }
  .minw-100{
    min-width: 100%;
  }
  
  body {
    background-color: var(--bg-color);
  }

  #root{
    height: 100%;
  }

  * {
    margin: 0;
    box-sizing: border-box;
  }

  .cur-point{
    cursor: pointer;
  }
  .cur-default{
    cursor: default;
  }

  .cur-resize{
    cursor: e-resize;
  }

  .cur-resize-v{
    cursor: n-resize;
  }

  .hover:hover, .hover:hover *{
    cursor: default;
    //opacity: 0.6;
    color: var(--hover);
  }

  .hover-color:hover{
    color: var(--hover);
  }

  .hover-brighter:hover{
    filter: brightness(105%);
  }

  .hover-shadow:hover{
    box-shadow: 0 0 2px rgb(104, 104, 237);
  }

  .button-effect:hover{
    cursor: default;
    filter: brightness(150%);
    box-shadow: 0 0 2px rgb(104, 104, 237);
  }

  .no-resize{
    resize: none;
  }

  .outline-none{
    outline: none;
    border: 0;
  }

  .outline-none-focus:focus{  
    outline: none !important;
    border:0 !important;
    box-shadow: none !important;
  }

  .min-w-auto{
    min-width: auto !important;
  }

  @keyframes caret {
    0%   {
      // border-left: 1px solid green;
      visibility: visible;
    }
    49% {
      // border-left: 1px solid green;
      visibility: visible;
    }
    50%  {
      // border-left: none;
      visibility: hidden;

    }
    99%{
      // border-left: none;
      visibility: hidden;

    }
    100% {
      // border-left: 1px solid green;
      visibility: visible;

    }
    // from {
    //   height: 0;
    //   border-left: 0px solid green;
    // }
    // to {
    //   height: 2ch;
    //   border-left: 10px solid green;
    // }
  }

  .caret::before{
    content: '';            
    animation-name: caret;
    animation-duration:1s;
    animation-iteration-count: infinite;
    border-left: 1px solid green;
    // animation-direction: alternate;

  }

.previous-background{
  background:#FFCCCC;
}
.current-background{
  background: #DBE6C2;;
}

.transparent-background{
  background-color: transparent;
  background-image: repeating-linear-gradient(45deg, black 0px, black 2px, black 2px, transparent 2px, transparent 4px);
}
.gs-overflow-x-auto{
  overflow-x: auto;
}

.gs-overflow-y-auto{
  overflow-y: auto;
}

.createBranchModal{
  width: 500px;
}

.noselect{
  user-select: none;
}

.hover-bg-secondary:hover{
  background: gray;
  *{
    color: white !important;      
  }
}

.color-secondary{
  color:var(--gs-secondary);
}

.no-wrap{
  white-space: nowrap
}

.ql-container.ql-snow{
  border-right: 0 !important;
}

.difference{
  p {
    margin: 0 !important;
  }
}

.conflict-diff{
  p {
    margin: 0 !important;
  }
}

.conflict-bottom{
  p{
    margin: 0 !important;
    white-space: pre;
  }
}

.context-option{
  padding-top: 4px;
  padding-bottom: 4px;
}

.commitContext{
  .modal-content{
    border-radius: 0 !important;
  }
}

.context-modal{
  height: 0 !important;
  overflow: visible !important;
  .modal-dialog{
    position: absolute !important;
  }
}

.branchBox{
  border: 1px solid #dee2e6;
}

.branchBox:hover{
  // box-shadow: 2px 2px 2px rgb(126, 237, 104);
  border: 1px solid #07ab07;
  *{
    cursor: default;
    //opacity: 0.6;
    color: #2f8512;
  }
}

.modal-content{
  border-radius: 0 !important;
}

.underline{
  text-decoration: underline;
}

.bg-current-change{
  background-color: var(--bg-current-change);
}

.bg-current-change-deep{
  background-color: var(--bg-current-change-deep);
}

.bg-previous-change{
  background-color: var(--bg-previous-change);
}

.bg-previous-change-deep{
  background-color: var(--bg-previous-change-deep);
}
.overflow-ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
}

.bg-fade{
  background-color: var(--bg-fade);
}

.bg-change-accepted{
  background-color: var(--bg-change-accepted);
}

.no-caret.dropdown-toggle::after{
  content: none;
}

.no-radius{
  border-radius: 0 !important;
}

.click-effect:active{
  transform: translate(1px,1px);
}

.bg-default-button{
  background-color: var(--bg-default-button);
}
.border-default-color{
  border-color: var(--border-color);
}
.default-button, .default-button:hover, .default-button:active, .default-button:focus, .default-button.btn-primary:active,.default-button.btn-primary:focus
,.default-button.btn-primary:hover{
  background-color: var(--bg-default-button);
  cursor:default;
  border-color: var(--border-color);
  color: var(--font-color);
}

.disabled{
  opacity: 0.6;
}